site_name: BinaryMan32's Documentation
site_url: https://binaryman32.github.io/docs
repo_url: https://github.com/BinaryMan32/docs
edit_uri: edit/main/docs/
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - https://unpkg.com/tablesort@5.6.0/dist/tablesort.min.js
  - https://unpkg.com/tablesort@5.6.0/dist/sorts/tablesort.number.min.js
  - javascript/tablesort.js
watch:
  - main.py
theme:
  name: material
  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/
  palette:
    scheme: slate
    primary: deep orange
    accent: orange
  icon:
    edit: material/lead-pencil
    # https://squidfunk.github.io/mkdocs-material/setup/changing-the-logo-and-icons/#logo-icon-bundled
    logo: fontawesome/solid/book
    repo: fontawesome/brands/github
  features:
    - content.action.edit
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - navigation.indexes
    - navigation.tabs
    - navigation.tracking
    - search.suggest
    - search.highlight
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.betterem
  - pymdownx.blocks.caption
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tilde
  - tables
  - toc:
      permalink: true
plugins:
  - macros:
      include_dir: include
  - autolinks
  - backlinks_section
  - blog:
      categories_allowed: []
  - search
  - tags
validation:
  omitted_files: warn
  absolute_links: relative_to_docs
  unrecognized_links: warn
  anchors: warn
